<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSV Predictor</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Загрузите CSV-файл для анализа</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" accept=".csv" required><br/><br/>
        <input type="submit" value="Отправить файл"/>
    </form>

    <!-- Блок для отображения результата -->
    <div class="result-box" style="display:none;" id="resultBox"></div>

    <script src="/static/script.js"></script>
</body>
</html>